{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "settings": {},
  "overrides": [
    {
      "files": ["*.js"],
      "extends": ["airbnb-base", "prettier"],
      "plugins": ["import", "prettier"],
      "rules": {
        "prettier/prettier": "error",
        "no-console": "error",
        "no-unused-vars": "error",
        "no-param-reassign": "error",
        "no-underscore-dangle": 0,
        "no-use-before-define": 0,
        "comma-dangle": ["error", "always-multiline"],
        "no-return-assign": 0,
        "no-plusplus": 0,
        "camelcase": [
          "error",
          {
            "properties": "never"
          }
        ],
        "import/extensions": 0
      },
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
      }
    }
  ]
}
